@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: var(--color-primary);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    " menu menu menu menu menu menu menu menu menu menu menu menu "
    " noti noti noti noti vnts vnts vnts vnts vnts vnts blnc blnc"
    " noti noti noti noti vnts vnts vnts vnts vnts vnts blnc blnc"
    " weak weak weak weak vnts vnts vnts vnts vnts vnts blnc blnc"
    " weak weak weak weak vnts vnts vnts vnts vnts vnts dev dev"
    " weak weak weak weak vnts vnts vnts vnts vnts vnts dev dev"
    " prdct prdct prdct prdct prdct  last last last last last last last"
    " prdct prdct prdct prdct prdct last last last last last last last"
    " prdct prdct prdct prdct prdct last last last last last last last"
    ;
    gap: 8px;
    width: 800px;
    height: 600px;
    margin: 15px auto;
    /* border: 1px solid var(--color-primary);  */
    border-radius: 5px;
    background: var(--color-primary);
    /* box-shadow: var(--color-shadows); */
}


.item_1{
    grid-area: menu;
    display: flex;
}
.item_1 div:first-child {
    background: var(--color-secundary);
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.item_1 div:last-child {
    background: linear-gradient(90deg,#79d2fa, #d1f729);
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.item_2{
    grid-area: noti;
    background: #87d8f9;
}
.item_3 {
    grid-area: vnts;
    background: var(--color-secundary);
}
.item_4 {
    grid-area: blnc;
    background: var(--color-secundary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5%;
    border-radius: 10%;
}
.item_4 div:first-child,
.item_4 div:nth-child(2),
.item_4 div:last-child{
    height: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item_4 div:nth-child(2) {
    background: #aef7ae;
}

.item_4 div:nth-child(2) p, h4 {
    font-size: 0.7rem;
}
.item_5 {
    background: var(--color-secundary);
    grid-area: weak;
}
.item_6 {
    background: #d7f065;
    grid-area: dev;
}
.item_7 {
    background: var(--color-secundary);
    grid-area: prdct;
}
.item_8 {
    background: var(--color-secundary);
    grid-area: last;
}
@media (width < 600px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "menu"
        "noti"
        "vnts"
        "blnc"
        "weak"
        "dev"
        "prdct"
        "last"
        "."
        ;
        height: 100vh;
    }
}