@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: var(--color-primary);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    " menu menu menu menu menu menu menu menu menu menu menu menu "
    " noti noti noti noti vnts vnts vnts vnts vnts vnts blnc blnc"
    " noti noti noti noti vnts vnts vnts vnts vnts vnts blnc blnc"
    " weak weak weak weak vnts vnts vnts vnts vnts vnts blnc blnc"
    " weak weak weak weak vnts vnts vnts vnts vnts vnts dev dev"
    " weak weak weak weak vnts vnts vnts vnts vnts vnts dev dev"
    " prdct prdct prdct prdct prdct  last last last last last last last"
    " prdct prdct prdct prdct prdct last last last last last last last"
    " prdct prdct prdct prdct prdct last last last last last last last"
    ;
    gap: 8px;
    width: 1200px;
    height: 800px;
    margin: 15px auto;
    /* border: 1px solid var(--color-primary);  */
    /* border-radius: 5px; */
    background: var(--color-primary);
    /* box-shadow: var(--color-shadows); */
}
.container div {
    border-radius: 10px;
}


.item_1{
    grid-area: menu;
    display: flex;
    background: var(--color-secundary);
}
.nav{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    padding: 0 5% 0 20%;
}
.nav input{
    border: #d8d8d8 1px solid;
    background-color: var(--color-background);
    height: 50%;
    width: 40%;
    margin-right: 5%;
}
.nav input::placeholder {
    font-weight: bolder;
    color: black;
}
.profile{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right ,var(--color-quinto), var(--color-ternary));
    border-radius: 0;
}

.notificaciones{
    width: 50%;
}

.notificaciones i{
    font-size: 25px;
    margin-left: 15%;
}

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil div{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.perfil i{
    font-size: 40px;
    text-align: center;
    margin: 0 25px 0 10px;
}

.item_2{
    grid-area: noti;
    background: var(--color-quinto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
}
.p_title {
    font-weight: bolder;
    text-transform: capitalize;
}
.hora{
    display: flex;
    justify-content: space-between;
}

.perfiles2{
    display: flex;
    justify-content: space-between;
}

.perfiles2 i{
    font-size: 50px;
    background-color: white;
    border-radius: 100%;
}

.perfiles2 > div i:nth-child(2),
.perfiles2 > div i:last-child {
    margin-left: -20px;
}

.item_3{
    background: var(--color-secundary);
    grid-area: vnts;
    padding: 0 20px;
}
.item_3 .title_mid_box{
    padding: 30px 0;
    font-size: 40px;
}
.item_3 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_3 .anualy{
    color: gray;
    font-size: 30px;
}

.price_mid_box{
    font-size: 50px;
    margin: 20px 0;
}

.profit{
    color: var(--color-ternary);
}

.item_4 {
    grid-area: blnc;
    background: var(--color-secundary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5%;
}
.item_4 div:first-child,
.item_4 div:nth-child(2),
.item_4 div:last-child{
    height: 30%;
    border-radius: 5px;
    min-height: max-content;
}
.item_4 div:nth-child(2) {
    background: #aef7ae;
}

.item_4 div:nth-child(2) p,
.item_4 div:first-child p,
.item_4 div:last-child p {
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 10%;
}
.item_4 div:nth-child(2) h3,
.item_4 div:first-child h3,
.item_4 div:last-child h3 {
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
}
.item_5 {
    background: var(--color-secundary);
    grid-area: weak;
    padding: 0 20px;
}

.title_left_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.title_left_box p {
    font-weight: bolder;
}
.perfiles_left_box{
    font-size: 35px;
}
.bx-columns {
    background: var(--color-ternary);
    border-radius: 50%;
    
}
.bxs-right-top-arrow-circle {
    color: var(--color-quinto);
    background: black;
    border-radius: 50%;
}
.grafica_left_box {
    margin-top: 40px;
}

.grafica_left_box img{
    width: 100%;
}



.item_6 {
    background: #d7f065;
    grid-area: dev;
}
.item_7 {
    background: var(--color-secundary);
    grid-area: prdct;
}
.item_8 {
    background: var(--color-secundary);
    grid-area: last;
}
@media (width < 600px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "menu"
        "noti"
        "vnts"
        "blnc"
        "weak"
        "dev"
        "prdct"
        "last"
        "."
        ;
        height: 100vh;
    }
}